body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, serif;
}

.t-orange {
  color: orange !important;
}

.t-italic {
  font-style: italic;
}

.main {
  width: 80%;
  margin: 0 auto;
}

/* ----------------- NAVBAR ---------------- */

.navbar {
  background-color: transparent;
  color: #000;
  padding: 2vh 3vw;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: rgba(2, 6, 26, 0.7);
  backdrop-filter: blur(3px);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navbar-logo {
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo > img {
  width: 100%;
  height: auto;
}

.navbar-toggle {
  display: none;
}

.navbar-icon {
  width: 3vw;
  height: 3vh;
  background-color: transparent;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu.open {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.navbar-menu-item {
  margin: 0 1vw;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-winners {
  padding: 10px 15px;
  border: 2px solid orange;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease-in-out;
  margin: 0 1vw;
}

.btn-winners:hover {
  background-color: orange;
  cursor: pointer;
}

/* ------------ HERO ---------------- */

.hero-section {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
}

.hero-section > * {
  z-index: 10;
}

.hero-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  flex-flow: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.hero-section .hero-links > * {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 10px;
  flex: 1;
}

.hero-section h1 {
  font-size: 5rem;
  margin: 0 auto;
  font-weight: bold;
  text-shadow: 2px 0 0 white;
  margin: 0 20px;
}

.hero-section .typing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-section h2 {
  font-size: 2rem;
  text-shadow: 1px 0 0 white;
}

.typing-container {
  display: flex;
  align-items: center;
}

.hero-section .typing .typing-text {
  font-size: 5rem;
  white-space: pre;
  margin: 0 10px;
  color: orange;
  text-shadow: none;
}

.typing-cursor {
  font-size: 5rem;
  color: orange;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

/* ----------- ABOUT ------------*/
.about-section {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
  padding: 1vh 0;
  font-family: Nunito, serif;
  color: #444;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.about-section .left-section,
.about-section .right-section {
  width: 50%;
  flex: 1;
}

.about-section .left-section {
  padding: 0 1vw;
}

.about-section .left-section .heading {
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 0 0 black;
  margin: 0;
  color: black;
}

.about-section .right-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-section.animate .left-section {
  animation: flyInFromLeft 1s ease-out forwards;
}

.about-section.animate .right-section {
  animation: flyInFromRight 1s ease-out forwards;
}

@keyframes flyInFromLeft {
  from {
    transform: translate(-50%, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes flyInFromRight {
  from {
    transform: translate(50%, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* ========= LAPTOP-S ========== */
@media (max-width: 1200px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .about-section .left-section,
  .about-section .right-section {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }

  .about-section .right-section img {
    width: 80%;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

/* ========= TABLET ========== */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar .navbar-logo {
    width: 15vw;
  }

  .navbar-toggle {
    display: block;
    margin: 0;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-link {
    padding: 1rem;
    color: #fff;
  }

  .btn-winners {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .hero-section h1,
  .hero-section .typing .typing-text,
  .typing-cursor {
    font-size: 3rem;
  }

  .hero-section h2 {
    font-size: 1.5rem;
  }

  .hero-section .hero-links > * {
    font-size: 1rem;
  }
}

/* ========= MOBILE ========== */
@media (max-width: 425px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-link {
    padding: 1rem;
    color: #fff;
  }

  .navbar-icon {
    font-size: 0.5rem;
  }

  .btn-winners {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .hero-section {
    height: 50vh;
  }

  .about-section .right-section img {
    width: 100%;
  }
}
