@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Prompt";
  src: local("Prompt"), url(./fonts/Prompt/Prompt-Medium.ttf) format("truetype");
}

:root {
  --primary-1: #3888db;
  --primary-2: #0b5ed2;
  --primary-3: #0142a6;
  --primary-4: #081740;
  --secondary-1: #dc230f;
  --secondary-2: #8d1202;
  --secondary-3: #e9fe0b;
  --info-color: #444;
  --primary-font: Prompt;
  --secondary-font: Poppins;

  --body-primary: linear-gradient(
    0.25turn,
    var(--primary-1),
    var(--primary-2),
    var(--primary-3)
  );

  --body-primary-alternate: linear-gradient(
    0.6turn,
    var(--primary-4) 20%,
    var(--primary-3),
    var(--primary-2)
  );
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  overflow-x: hidden;
  background: var(--body-primary);
}

h1,
h2 {
  font-family: var(--primary-font) !important;
}

.t-sec,
.navbar-link.t-sec {
  color: var(--secondary-3) !important;
}

.t-italic {
  font-style: italic;
}

.t-spcl {
  color: var(--secondary-1) !important;
  background-color: var(--secondary-3);
  padding: 0 2px;
  margin: 0 3px;
}

.card p.t-small {
  font-size: 0.9rem !important;
  color: var(--info-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main > * {
  padding: 8vh 10vw;
  background: var(--body-primary);
  width: 100%;
}

.main > *:nth-child(2n) {
  background: var(--body-primary-alternate) !important;
}

h1.heading {
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: var(--primary-4);
  width: 100%;
  border-bottom: 1px solid var(--primary-3);
}

.main > *:nth-child(2n) h1.heading {
  border-bottom: 1px solid var(--secondary-3) !important;
}

h2.sub-title {
  color: var(--secondary-3);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px 20px var(--secondary-3);
}

h2.sub-title::after {
  content: "";
  width: 10vw;
  height: 2px;
  display: inline-block;
  background: var(--secondary-3);
  margin: 4px 10px;
}

/* ------------ ANIMATIONS ----------------- */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes flyInFromLeft {
  from {
    transform: translate(-50%, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes flyInFromRight {
  from {
    transform: translate(50%, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------- NAVBAR ---------------- */
.navbar {
  background-color: transparent;
  color: #000;
  padding: 2vh 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar-visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-scrolled {
  background-color: rgba(2, 6, 26, 0.7);
  backdrop-filter: blur(3px);
}

.navbar-menu.open {
  background: transparent;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.navbar-logo {
  width: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo > img {
  width: 80%;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

.navbar-logo > img:last-child {
  width: 150%;
  margin-left: 10px;
}

.navbar-toggle {
  display: none;
}

.navbar-icon {
  width: 3vw;
  height: 3vh;
  background-color: transparent;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-item {
  margin: 0 1vw;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
  color: var(--secondary-3);
}

.navbar-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ------------ HERO ---------------- */
.hero-section {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url("./assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: white;
  padding-top: 20vh;
}

.hero-section::before,
.contact-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
}

.hero-section > * {
  z-index: 10;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 1px 0 0 white;
  margin: 0;
  line-height: 1em;
}

.hero-section h2 {
  font-size: 2rem;
  width: 80%;
  margin-top: 40vh;
}

.typing-container {
  display: flex;
  align-items: center;
}

.hero-section .typing .typing-text,
.typing-cursor {
  font-size: 8rem;
  color: var(--primary-1) !important;
  text-shadow: 4px 4px 3px var(--primary-4);
}

.hero-section .typing .typing-text {
  white-space: pre;
}

.typing-cursor {
  animation: blink 0.7s infinite;
}

.btn,
.btn-register {
  padding: 5px 10px 5px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-3);
  color: var(--primary-4);
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn-register:hover {
  background-color: var(--primary-1);
}

/* ----------- ABOUT ------------*/
.about-section {
  font-family: var(--secondary-font);
  color: #fff;
  text-align: justify;
  width: 80%;
  padding-top: 3vh 0 !important;
}

.about-section .flex-container {
  padding: 0;
}

.about-section .left-section,
.about-section .right-section {
  width: 50% !important;
  margin-top: 1vh;
}

.about-section .flex-container .left-section {
  margin: 0 2vw 0 0;
}

.about-section .right-section img,
.counts-section .right-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--primary-4);
  box-shadow: 0 0 20px var(--primary-4);
}

.about-section.animate .left-section,
.counts-section.animate .flex-container .right-section {
  animation: flyInFromLeft 1s ease-out forwards;
}

.about-section.animate .right-section,
.counts-section.animate .flex-container .left-section {
  animation: flyInFromRight 1s ease-out forwards;
}

/* --------- REGISTRATION ----------*/
.registration,
.counts-section,
.org-section {
  width: 80%;
}

.registration .heading,
.org-section .heading {
  color: #fff;
}

.registration .steps {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3vh 0;
}

.registration .steps .step {
  margin: 0 1vw;
  padding: 1vh 2vw;
  height: 20vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  box-shadow: 0 0 10px var(--primary-4);
}

.registration .steps .step:hover {
  background-color: var(--primary-1);
  color: #fff;
  cursor: default;
}

.registration .steps .step h3 {
  font-size: 3rem;
  margin: 0;
  color: var(--secondary-2);
  text-shadow: 1px 1px 3px var(--secondary-1);
  transition: all 0.2s ease-in-out;
}

.registration .steps .step:hover h3 {
  color: var(--secondary-3);
  text-shadow: 1px 1px 3px var(--secondary-3);
}

.registration .steps .arrow {
  height: 0;
  border-top: 1.5vh solid transparent;
  border-bottom: 1.5vh solid transparent;
  border-left: 2vw solid var(--secondary-3);
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.registration .steps .step.visible,
.registration .steps .arrow.visible {
  opacity: 1;
  transform: translateX(0);
}

.registration .steps .step p .link {
  background-color: var(--primary-4);
  border-radius: 5px;
  padding: 2px 5px;
  width: fit-content;
  white-space: nowrap;
}

.registration .steps .step p .link img {
  width: 5%;
}

.registration .steps .step p .link a {
  color: var(--secondary-3);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px var(--primary-color);
  font-size: 1.3rem;
  margin-left: 5px;
}

/* ------------ DSU ----------- */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
}

.flex-container .left-section {
  width: 40%;
  margin: 0 1vw;
}

.flex-container .right-section {
  width: 60%;
  margin: 0 1vw;
}

.flex-container .left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}

.counts-section .counts-subsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counts-section .counts-subsection > * {
  padding: 1vh 1vw;
  background-color: var(--primary-1);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-weight: bold;
}

.counts-section .flex-container .count-box,
.footer .footer-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh 0;
}

.count-box:nth-child(2n),
.count-box:nth-child(2n) .flex-container {
  flex-direction: row-reverse;
}

.counts-section .flex-container .count-box p {
  margin: 0 10px;
}

.flex-container .number,
.flex-container .stats {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
  transition: transform 0.1s ease-out;
  text-shadow: 1px 1px 3px var(--secondary-3);
}

.box-icon {
  width: 5%;
  height: auto;
}

.counts-section .info-end {
  background-color: var(--primary-4);
  padding: 1vh 1vw;
  border-radius: 10px;
  font-size: 1.2rem;
  color: var(--primary-1);
}

.info-end {
  animation: fadeUp 1s ease-in forwards;
}

.counts-section .subsection-title {
  text-align: center;
  color: var(--secondary-3);
  margin-top: 5vh;
  text-shadow: 1px 1px 20px var(--secondary-3);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
  position: relative;
  margin-right: -1vw;
  border: 1px solid var(--primary-4);
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.circle.visible {
  opacity: 1;
  transform: translateX(0);
}

.circle:hover {
  cursor: default;
}

.circle span {
  display: block;
}

.circle .number {
  font-size: 3rem;
}

.label {
  font-size: 0.8em;
}

#circle1 {
  background-color: var(--primary-1);
  width: 13vw;
  height: 13vw;
}

#circle2 {
  background-color: var(--secondary-3);
  color: #000000;
  width: 12vw;
  height: 12vw;
}

#circle3 {
  background-color: var(--primary-2);
  width: 10vw;
  height: 10vw;
}

#circle4 {
  background-color: var(--primary-3);
  width: 9vw;
  height: 9vw;
}

#circle5 {
  background-color: var(--primary-4);
  width: 8vw;
  height: 8vw;
}

#circle6 {
  background-color: #ffffff;
  color: #000000;
  width: 6vw;
  height: 6vw;
}

/* ----------- ORGANIZERS -------------*/
#organizers.org-section {
  background: var(--primary-4) !important;
}

.org-section .cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3vh 0;
}

.card {
  width: 80%;
  margin: 3vh 0;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20vh;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, var(--secondary-3), transparent 75%);
}

.card:hover {
  transform: scale(1.05);
}

.card:nth-child(2n) {
  flex-direction: row-reverse;
}

.card:nth-child(2n)::before {
  background: linear-gradient(to left, var(--secondary-3), transparent 75%);
}

.card img {
  height: 100%;
  width: 20vw;
  border-radius: 5px;
  object-position: top;
  object-fit: cover;
  border: 1px solid var(--secondary-3);
  box-shadow: 0 0 5px var(--secondary-3);
}

.card p {
  padding: 0 1vw;
  font-weight: bold;
  font-size: 1.3rem;
  flex: 1;
  justify-self: flex-end;
  color: #fff;
}

.card .t-small.t-italic {
  visibility: hidden;
  color: var(--secondary-3);
  transition: all 0.2s ease-in-out;
}

.card:hover .t-small.t-italic {
  visibility: visible;
}

.org-section.fade-up,
.contact-section.fade-up {
  animation: fadeUp 3s ease-out forwards;
}

/* ----------- CONTACT --------------*/
.contact-section {
  background: url("./assets/contact-bg.jpg") no-repeat top;
  background-size: cover;
  color: white;
  width: 80%;
}

.contact-section::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.contact-section h1.heading {
  color: var(--secondary-3);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 0 #000;
  letter-spacing: 0.2rem;
}

.contact-section .row {
  display: flex;
}

.contact-section .left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-section .left-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 1vh 0;
}

.contact-section .left-section .container img {
  width: 5%;
  height: auto;
  margin-right: 10px;
  background-color: var(--secondary-3);
  padding: 5px;
  border-radius: 5px;
}

.contact-section .left-section .container .flexbox h3,
.contact-section .left-section .container .flexbox p {
  margin: 0;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 3px 5px;
}

.contact-section .right-section {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-section .right-section img {
  width: 10%;
  height: auto;
  margin: 0 2vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact-section .right-section img:hover {
  transform: scale(1.1);
}

/* ---------- FOOTER ----------------*/
.footer {
  width: 100%;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2vh 2vw;
}

.footer h2 {
  margin: 1vh 0;
}

.footer .footer-box {
  margin-left: 0;
}

.footer .footer-box img {
  width: 1vw;
  height: auto;
  margin-right: 1vw;
}

.footer .footer-link {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
}

.footer .footer-link.location {
  color: var(--primary-color);
  text-shadow: 1px 0 0 var(--primary-color);
}

.socials {
  margin: 1vh 2vw;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.social-icon {
  padding: 0;
  margin-top: 2vh;
  margin-right: 1vw;
  outline: none;
  max-width: 2vw;
  height: 2vw;
  border: none;
  background-color: transparent;
}

.social-icon img {
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.social-icon img:hover,
.footer a:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none !important;
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

/* ----------- BACK TO TOP BUTTON ------------ */
.back-to-top {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  z-index: 1000;
  rotate: 270deg;
}

.back-to-top-button {
  background-color: transparent;
  color: var(--secondary-3);
  border: none;
  padding: 10px 20px;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  font-weight: bold;
  margin: 0;
}

/* ========= LAPTOP-L ========== */
@media (max-width: 1440px) {
  .hero-section h2 {
    margin-top: 30vh;
  }

  .registration .steps .step {
    height: 30vh;
  }

  .circle {
    margin-right: -2vw;
  }

  #circle1 { width: 16vw; height: 16vw; }
  #circle2 { width: 14vw; height: 14vw; }
  #circle3 { width: 12vw; height: 12vw; }
  #circle4 { width: 10vw; height: 10vw; }
  #circle5 { width: 8vw; height: 8vw; }
  #circle6 { width: 7vw; height: 7vw; }
}

/* ========= LAPTOP-S ========== */
@media (max-width: 1024px) {
  .hero-section h2 {
    font-size: 1.5rem;
    margin-top: 35vh;
  }

  .registration .steps .step {
    height: 40vh;
    text-align: center;
    padding-inline: 1vw;
  }

  .flex-container:not(.count-box .flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
  }

  .flex-container .left-section,
  .flex-container .right-section {
    width: 100% !important;
    margin-inline: auto;
  }

  .flex-container .right-section img {
    width: 100% !important;
    height: auto;
    margin: 20px auto;
  }

  .counts-subsection {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .count-box:nth-child(2n),
  .count-box:nth-child(2n) .flex-container {
    flex-direction: row !important;
  }

  .counts-subsection .count-box.last {
    grid-area: 3 / 1 / span 1 / span 2;
  }

  .counts-subsection .box-icon {
    width: 8%;
  }

  .counts-section .info-end {
    text-align: justify;
    padding: 2vh 3vw;
  }

  .circle .number {
    font-size: 1.8rem;
  }
  
  .label {
    font-size: 0.8em;
  }
  
  #circle1, #circle2, #circle3, #circle4, #circle5, #circle6 {
    width: 12vw; 
    height: 12vw; 
  }

  .contact-section .left-section .container {
    width: 100%;
  }

  .contact-section .left-section .container .flexbox h3,
  .contact-section .left-section .container .flexbox p {
    font-size: 1.2rem;
  }

  .contact-section .right-section {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}

/* ========= TABLET ========== */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-container {
    width: 80%;
    justify-content: space-between;
  }

  .navbar .navbar-logo {
    width: 12vw;
  }

  .navbar-toggle {
    display: block;
    margin: 0;
  }

  .navbar-menu.open {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: transparent;
    backdrop-filter: blur(3px);
  }

  .navbar-scrolled .navbar-menu.open {
    background: rgba(2, 6, 26, 0.7);
    padding-bottom: 5px;
  }

  .navbar-link {
    padding: 1rem;
    color: white;
  }

  .hero-section h1 {
    font-size: 3rem;
  }

  .hero-section .typing .typing-text,
  .typing-cursor {
    font-size: 5rem;
  }

  .hero-section h2 {
    font-size: 1.5rem;
    padding-top: 10vh;
  }

  .hero-section .hero-links > * {
    font-size: 1rem;
  }

  .about-section .right-section,
  .counts-section .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registration .steps {
    flex-direction: column;
  }

  .registration .steps .step {
    height: auto;
    width: 80%;
    text-align: center;
    align-items: center;
  }

  .registration .steps .step .link {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .registration .steps .step .link img {
    transform: scale(0.8);
  }

  .registration .steps .arrow {
    border-top: 2vw solid var(--secondary-3);
    border-left: 1.5vh solid transparent;
    border-right: 1.5vh solid transparent;
    margin: 1vh 0;
  }

  .counts-section .flex-container.fldc {
    flex-direction: column !important;
    align-items: flex-start;
  }

  .circle {
    width: 20vw;
    height: 20vw;
    margin-right: 0;
    margin-bottom: -5vw;
  }

  #circle1, #circle2,  #circle3, #circle4, #circle5, #circle6 {
    width: 20vw;
    height: 20vw;
  }

  .card,
  .card img {
    height: 25vh;
  }

  .card .flexbox {
    margin-left: 2vw;
  }

  .card:nth-child(2n) .flexbox {
    margin-left: 0;
  }

  .contact-section .left-section .container .flexbox h3,
  .contact-section .left-section .container .flexbox p  {
    font-size: 1rem;
  }

  .contact-section .right-section img {
    width: 20%;
  }

  .footer .footer-box img {
    width: 2vw;
  }

  .footer .social-icon {
    max-width: 5vw !important;
    height: 5vw !important;
    margin-right: 5vw;
  }
}

/* ========= MOBILE ========== */
@media (max-width: 425px) {
  h1.heading {
    font-size: 1.5rem !important;
  }

  .navbar {
    padding: 10px 0;
  }

  .navbar .navbar-logo {
    width: 18vw;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle-button {
    transform: scale(2);
  }

  .navbar-link {
    padding: 0;
    color: white;
    font-size: 0.8rem;
  }

  .navbar-icon {
    font-size: 0.5rem;
  }

  .hero-section {
    height: 85vh !important;
    padding-top: 15vh;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section h2 {
    font-size: 1rem;
    width: 100%;
    margin-top: 45vh;
  }

  .hero-section .typing .typing-text,
  .typing-cursor {
    font-size: 3rem;
  }

  .hero-section .hero-links {
    flex-direction: column;
  }

  .about-section .right-section img {
    width: 100%;
  }

  .counts-subsection {
    flex-direction: column-reverse;
  }

  .counts-subsection .flex-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

  .counts-section .counts-subsection > * {
    width: 100%;
    padding: 1vh 1vw;
    box-shadow: 0 0 20px var(--primary-4);
  }

  .counts-subsection {
    display: flex !important;
    flex-direction: column;
    gap: 0;
  }

  .counts-subsection .flex-container {
    display: flex !important;
  }

  .counts-subsection .count-box:nth-child(2n) {
    flex-direction: row-reverse !important;
  }

  .number, .stats {
    font-size: 1.5rem !important;
  }

  .box-icon {
    width: 12% !important;
  }

  .counts-section .info-end {
    text-align: center;
  }

  .circle-container {
    flex-direction: column;
  }

  .circle {
    border-radius: 10px;
    margin-bottom: -2vw;
  }

  #circle1, #circle2,  #circle3, #circle4, #circle5, #circle6 {
    width: 80%;
    height: auto;
  }

  .card,
  .card:nth-child(2n) {
    flex-direction: column;
    height: 100%;
  }

  .card img {
    width: 100%;
  }

  .contact-section::before {
    border-radius: 0;
  }

  .contact-section .left-section .container .flexbox h3,
  .contact-section .left-section .container .flexbox p {
    font-size: 0.8rem;
  }

  .contact-section .row {
    flex-direction: column;
  }

  .contact-section .left-section {
    padding-left: 1vw;
  }

  .contact-section .left-section,
  .contact-section .right-section {
    width: 100%;
    justify-content: center;
    margin: 1vh auto;
  }

  .contact-section .right-section {
    flex-direction: row;
    align-items: center;
  }

  .contact-section .right-section img {
    width: 15%;
  }

  .footer {
    padding: 0 1vw 3vh 1vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    margin-inline: auto;
  }

  .footer .footer-box {
    justify-content: center;
  }

  .footer .footer-box img {
    width: 5%;
  }

  .footer .footer-link {
    font-size: 1.2rem;
  }

  .socials {
    margin-inline: auto;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .social-icon {
    transform: scale(2);
    margin: 0 3vw;
  }
}
