body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, serif;
  overflow-x: hidden;
}

hr {
  margin: 0;
  width: 100%;
}

/* section {
  scroll-margin-top: 15vh;
} */

.t-orange,
.navbar-link.t-orange {
  color: #ffc44e !important;
}

.t-italic {
  font-style: italic;
}

.card p.t-small {
  font-size: 0.9rem !important;
  color: #444;
}

.main {
  width: 80%;
  margin: 0 auto;
}


/* ----------------- NAVBAR ---------------- */
.navbar {
  background-color: transparent;
  color: #000;
  padding: 2vh 3vw;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: rgba(2, 6, 26, 0.7);
  backdrop-filter: blur(3px);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navbar-logo {
  width: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo > img {
  width: 150%;
  height: auto;
  margin: 5px;
}

.navbar-logo > img:last-child {
  width: 80%;
}

.navbar-toggle {
  display: none;
}

.navbar-icon {
  width: 3vw;
  height: 3vh;
  background-color: transparent;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-item {
  margin: 0 1vw;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-winners {
  padding: 10px 15px;
  border: 2px solid orange;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease-in-out;
  margin: 0 1vw;
}

.btn-winners:hover {
  background-color: orange;
  cursor: pointer;
}

/* ------------ HERO ---------------- */

.hero-section {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
}

.hero-section > * {
  z-index: 10;
}

.hero-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  flex-flow: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.hero-section .hero-links > * {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 10px;
  flex: 1;
}

.hero-section h1 {
  font-size: 5rem;
  margin: 0 auto;
  font-weight: bold;
  text-shadow: 2px 0 0 white;
  margin: 0 20px;
}

.hero-section .typing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-section h2 {
  font-size: 2rem;
  text-shadow: 1px 0 0 white;
}

.typing-container {
  display: flex;
  align-items: center;
}

.hero-section .typing .typing-text {
  font-size: 5rem;
  white-space: pre;
  margin: 0 10px;
  color: orange;
  text-shadow: none;
}

.typing-cursor {
  font-size: 5rem;
  color: orange;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

/* ----------- ABOUT ------------*/
.about-section,
.counts-section {
  display: flex;
  justify-content: space-between;
  margin: 10vh 0;
  padding: 1vh 0;
  font-family: Nunito, serif;
  color: #444;
  text-align: justify;
}

.about-section .left-section,
.about-section .right-section,
.counts-section .left-section,
.counts-section .right-section {
  width: 50%;
  flex: 1;
}

.about-section .left-section,
.counts-section .left-section {
  padding: 0 1vw;
}

.about-section .left-section .heading,
.counts-section .left-section .heading {
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 0 black;
  margin: 0;
  color: black;
  background-color: rgba(36, 36, 36, 0.2);
  padding: 5px 5px;
  border-radius: 5px;
}

.about-section .right-section img,
.counts-section .right-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-section.animate .left-section,
.counts-section.animate .right-section {
  animation: flyInFromLeft 1s ease-out forwards;
}

.about-section.animate .right-section,
.counts-section.animate .left-section {
  animation: flyInFromRight 1s ease-out forwards;
}

@keyframes flyInFromLeft {
  from {
    transform: translate(-50%, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes flyInFromRight {
  from {
    transform: translate(50%, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* ------------ COUNTS ----------- */
.counts-section .counts-subsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
}

.counts-section .counts-subsection > * {
  width: 50%;
  padding: 0 1vw;
}

.counts-section .counts-subsection p:last-child {
  text-align: justify;
}

.counts-section .flex-container .count-box,
.footer .footer-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh 1vw;
}

.flexbox,
.counts-section .left-section .flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.counts-section .flex-container .count-box p {
  margin: 0 10px;
}

.number,
.stats {
  font-size: 1.5rem;
  color: orange;
  font-weight: bold;
  transition: transform 0.1s ease-out;
}

.count-box .number {
  transform: translateY(0);
  opacity: 1;
}

.count-box .number.animate {
  transform: translateY(0);
  opacity: 1;
}

.box-icon {
  width: 10%;
  height: auto;
}

/* ----------- ORGANIZERS -------------*/
.org-section, .contact-section {
  margin: 5vh 0;
}

.org-section h2.sub-title,
.contact-section h2.sub-title {
  color: #444;
  margin: 0 auto;
  font-size: 1.3rem;
}

.org-section h2::after,
.contact-section h2::after {
  content: "";
  width: 120px;
  height: 2px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}

.org-section h1.heading,
.contact-section h1.heading {
  font-weight: bold;
  text-shadow: 2px 0 0 black;
  font-size: 2rem;
  margin-top: 0;
  letter-spacing: 0.2rem;
}

.org-section .cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 30vw;
  height: 60vh;
  margin: 1vh 1vw;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(202, 202, 202);
}

.card img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  object-position: top;
  object-fit: cover;
}

.card p {
  padding: 0 1vw;
  font-weight: bold;
  font-size: 1.3rem;
}

.org-section.fade-up,
.contact-section.fade-up {
  animation: fadeUp 3s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------- CONTACT --------------*/

.contact-section {
  background: #fff url("./assets/contact-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 1vh 1vw;
  color: #fff; 
  border-radius: 10px;
  box-shadow: 1px 1px 10px black; 
}

.contact-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
  border-radius: 10px;
}

.contact-section h1.heading {
  font-size: 3rem !important;
  text-shadow: 2px 0 0 white;
}

.contact-section .row {
  display: flex;
}

.contact-section .left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-section .left-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 1vh 0;
}

.contact-section .left-section .container img {
  width: 5%;
  height: auto;
  margin-right: 10px;
  background-color: #ffc44e;
  padding: 5px;
  border-radius: 5px;
}

.contact-section .left-section .container .flexbox h3,
.contact-section .left-section .container .flexbox p {
  margin: 0;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 3px 5px;
}

.contact-section .right-section {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-section .right-section img {
  width: 10%;
  height: auto;
  margin: 0 2vw;
  cursor: pointer;
}

/* ----------- LOGO CAROUSEL ----------------
.carousel-container {
  overflow: hidden;
  position: relative;
  height: 8vh;
  width: auto;
  margin: 10vh 0;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel-card > img {
  height: 80%;
  width: auto;
}

.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 16px;
  width: 200%;
  height: 100%;
  animation: slide 20s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
} */

/* ---------- FOOTER ----------------*/
.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  padding: 2vh 2vw;
}

.footer h2 {
  margin: 1vh 0;
}

.footer .footer-box {
  margin-left: 0;
}

.footer .footer-box img {
  width: 1vw;
  height: auto;
  margin-right: 0.5vw;
}

.footer .footer-link {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
}

.footer .footer-link.location {
  color: #ffc44e;
  text-shadow: 1px 0 0 #ffc44e;
}

.socials {
  margin: 1vh 0;
  padding: 0;
}

.social-icon {
  padding: 0;
  margin-top: 1vh;
  margin-right: 1vw;
  outline: none;
  max-width: 2vw;
  height: 2vw;
  border: none;
  background-color: transparent;
}

.social-icon img {
  width: 100%;
  height: auto;
}

.footer .devs a {
  text-decoration: none !important;
  color: #ffc44e;
}

/* ----------- BACK TO TOP BUTTON ------------ */
.back-to-top {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  z-index: 1000;
}

.back-to-top-button {
  background-color: #ffc44e;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7;
  font-weight: bold;
  margin: 0;
}

.back-to-top-button:hover {
  opacity: 1;
}

/* ========= LAPTOP-S ========== */
@media (max-width: 1200px) {
  .about-section,
  .counts-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
  }

  .about-section .left-section,
  .about-section .right-section,
  .counts-section .left-section,
  .counts-section .right-section {
    width: 100%;
    margin-inline: auto;
  }

  .counts-section .grid-container .count-box p {
    text-align: justify;
  }

  .about-section .right-section img,
  .counts-section .right-section img {
    width: 80%;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }

  .org-section .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 40vw;
  }
}

/* ========= TABLET ========== */
@media (max-width: 768px) {
  .main > * {
    margin: 3vh auto !important;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-container {
    width: 80%;
    justify-content: space-between;
  }

  .navbar .navbar-logo {
    width: 10vw;
  }

  .navbar-toggle {
    display: block;
    margin: 0;
  }

  .navbar-menu.open {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(2, 6, 26, 0.7);
    backdrop-filter: blur(3px);
  }

  .navbar-link {
    padding: 1rem;
    color: #fff;
  }

  .hero-section h1,
  .hero-section .typing .typing-text,
  .typing-cursor {
    font-size: 3rem;
  }

  .hero-section h2 {
    font-size: 1.5rem;
  }

  .hero-section .hero-links > * {
    font-size: 1rem;
  }

  .about-section .right-section,
  .counts-section .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .org-section .cards-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 80%;
    height: 50vh;
  }

  .card img {
    object-position: 0 10%;
  }

  .contact-section .row {
    flex-direction: column;
  }

  .contact-section .left-section,
  .contact-section .right-section {
    width: 100%;
  }
}

/* ========= MOBILE ========== */
@media (max-width: 425px) {
  .navbar {
    padding: 10px 0;
  }

  .navbar .navbar-logo {
    width: 15vw;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-link {
    padding: 0;
    color: #fff;
  }

  .navbar-icon {
    font-size: 0.5rem;
  }

  .hero-section {
    height: 100vh;
    background-size: cover;
  }

  .hero-section h1,
  .hero-section .typing .typing-text,
  .typing-cursor {
    font-size: 2rem;
  }

  .hero-section .hero-links {
    flex-direction: column;
  }

  .about-section .right-section img {
    width: 100%;
  }

  .counts-subsection {
    flex-direction: column-reverse;
  }

  .counts-subsection .flex-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

  .counts-section .counts-subsection > * {
    width: 100%;
  }

  .counts-subsection .flex-container .count-box.box-spl-1 {
    grid-area: 2 / 1 / span 1 / span 2;
  }
  
  .counts-subsection .flex-container .count-box.box-spl-2 {
    grid-area: 3 / 1 / span 1 / span 2;
  }

  .box-icon {
    width: 20%;
  }

  .count-box.box-spl-2 .box-icon {
    width: 15%;
  }

  .card {
    height: 60vh;
  }

  .contact-section h1.heading {
    font-size: 2rem !important;
    text-shadow: 2px 0 0 white;
  }

  .contact-section .left-section .container .flexbox h3,
  .contact-section .left-section .container .flexbox p {
    font-size: 1.2rem;
  }

  .contact-section .left-section {
    padding-left: 1vw ;
  }

  .contact-section .left-section,
  .contact-section .right-section {
    width: 100%;
    justify-content: center;
    margin: 1vh auto;
  }

  .footer {
    padding: 1vh 0;
    text-align: center;
    align-items: center;
  }

  .footer .footer-box {
    margin-inline: auto;
  }
  
  .footer .footer-box img {
    width: 5vw;
    height: auto;
    margin-right: 1vw;
  }
  
  .footer .footer-link {
    font-size: 1.2rem;
  }

  .socials {
    margin-inline: auto;
  }
  
  .social-icon {
    max-width: 8vw;
    height: 5vw;
  }
}
