@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url(./fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf)
      format("truetype");
}

:root {
  --body-primary: linear-gradient(
    0.25turn,
    rgba(255, 196, 78, 0.7),
    rgba(255, 203, 98, 0.7),
    rgba(255, 216, 138, 0.7)
  );

  --body-primary-alternate: linear-gradient(
    0.25turn,
    rgb(0, 20, 30),
    rgb(0, 19, 28),
    rgb(0, 31, 31)
  );

  --primary-color: #ffc44e;
  --info-color: #444;
  --primary-font: Poppins;
  --secondary-font: Nunito;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  overflow-x: hidden;
  background: var(--body-primary);
}

h1, h2 {
  font-family: var(--primary-font) !important;
}

.t-orange,
.navbar-link.t-orange {
  color: var(--primary-color) !important;
}

.t-italic {
  font-style: italic;
}

.card p.t-small {
  font-size: 0.9rem !important;
  color: var(--info-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main > * {
  padding: 8vh 10vw;
  background: var(--body-primary);
  width: 100%;
}

.main > *:nth-child(2n) {
  background: var(--body-primary-alternate) !important;
}

h1.heading {
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 0 black;
  padding: 1vh 0;
  margin: 0;
  color: black;
  width: 100%;
  border-bottom: 1px solid var(--info-color);
}

.main > *:nth-child(2n) h1.heading {
  border-bottom: 1px solid #ffe5b0;
}

h2.sub-title {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 20px #744d00;
}

.main > *:nth-child(2n) h2.sub-title {
  color: var(--primary-color);
  text-shadow: 2px 2px 20px var(--primary-color);
}

h2.sub-title::after {
  content: "";
  width: 10vw;
  height: 2px;
  display: inline-block;
  background: black;
  margin: 4px 10px;
}

.main > *:nth-child(2n) h2.sub-title::after {
  background: var(--primary-color);
}

/* ------------ ANIMATIONS ----------------- */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes flyInFromLeft {
  from {
    transform: translate(-50%, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes flyInFromRight {
  from {
    transform: translate(50%, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------- NAVBAR ---------------- */
.navbar {
  background-color: transparent;
  color: #000;
  padding: 2vh 3vw;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: rgba(2, 6, 26, 0.7);
  backdrop-filter: blur(3px);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navbar-logo {
  width: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo > img {
  width: 80%;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

.navbar-logo > img:last-child {
  width: 150%;
  margin-left: 10px;
}

.navbar-toggle {
  display: none;
}

.navbar-icon {
  width: 3vw;
  height: 3vh;
  background-color: transparent;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-item {
  margin: 0 1vw;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ------------ HERO ---------------- */
.hero-section {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: white;
}

.hero-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
}

.hero-section > * {
  z-index: 10;
}

.hero-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  flex-flow: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.hero-section .hero-links > * {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 10px;
  flex: 1;
}

.hero-section h1 {
  font-size: 5rem;
  margin: 0 auto;
  font-weight: bold;
  text-shadow: 2px 0 0 white;
  margin: 0 20px;
}

.hero-section .typing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-section h2 {
  font-size: 2rem;
  text-shadow: 1px 0 0 white;
  width: 80%;
}

.typing-container {
  display: flex;
  align-items: center;
}

.hero-section .typing .typing-text {
  font-size: 5rem;
  white-space: pre;
  margin: 0 10px;
  color: var(--primary-color);
  text-shadow: 1px 0 0 var(--primary-color);
}

.typing-cursor {
  font-size: 5rem;
  color: var(--primary-color);
  animation: blink 0.7s infinite;
}

/* ----------- ABOUT ------------*/
.about-section {
  font-family: var(--secondary-font);
  color: #333;
  text-align: justify;
  width: 80%;
  padding-top: 3vh !important;
  padding-bottom: 3vh !important;
}

.about-section .left-section,
.about-section .right-section {
  width: 50% !important;
  margin-top: 1vh;
}

.about-section .left-section {
  margin-right: 2vw;
}

.about-section .right-section img,
.counts-section .right-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-section.animate .left-section,
.counts-section.animate .flex-container .right-section {
  animation: flyInFromLeft 1s ease-out forwards;
}

.about-section.animate .right-section,
.counts-section.animate .flex-container .left-section {
  animation: flyInFromRight 1s ease-out forwards;
}

/* --------- REGISTRATION ----------*/
.registration,
.counts-section,
.org-section,
.contact-section {
  width: 80%;
}

.registration .heading,
.org-section .heading {
  color: #eee;
}

.registration .steps {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3vh 0;
}

.registration .steps .step {
  margin: 0 1vw;
  padding: 1vh 2vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  text-overflow: ellipsis;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: #ffd073;
  position: relative;
  width: 20vw;
  text-align: center;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: justify;
}

.registration .steps .step:hover {
  background-color: black;
  color: #eee;
  cursor: default;
  box-shadow: 0 0 10px #ffe5b0;
}

.registration .steps .arrow {
  height: 0;
  border-top: 1.5vh solid transparent;
  border-bottom: 1.5vh solid transparent;
  border-left: 2vw solid #ffc44f;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.registration .steps .step.visible, 
.registration .steps .arrow.visible {
  opacity: 1;
  transform: translateX(0);
}

.registration .steps .step h3 {
  font-size: 3rem;
  margin: 0;
}

.registration .steps .step p .link {
  background-color: black;
  border-radius: 5px;
  padding: 2px 5px;
  width: fit-content;
  white-space: nowrap;
}

.registration .steps .step p .link img {
  width: 5%;
  margin: 0;
}

.registration .steps .step p .link a {
  color: #ffe5b0;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px var(--primary-color);
  font-size: 1.3rem;
  margin-left: 5px;
}

/* ------------ COUNTS ----------- */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
}

.flex-container .left-section {
  width: 40%;
  margin: 0 1vw;
}

.flex-container .right-section {
  width: 60%;
  margin: 0 1vw;
}

.flex-container .left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.counts-section .counts-subsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counts-section .counts-subsection > * {
  padding: 1vh 1vw;
  background-color: #fff8e1;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-weight: bold;
}

.counts-section .flex-container .count-box,
.footer .footer-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh 0;
}

.count-box:nth-child(2n),
.count-box:nth-child(2n) .flex-container {
  flex-direction: row-reverse;
}

.counts-section .flex-container .count-box p {
  margin: 0 10px;
}

.number,
.stats {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
  transition: transform 0.1s ease-out;
  text-shadow: 2px 2px 10px #ffd073;
}

.box-icon {
  width: 5%;
  height: auto;
}

.counts-section .info-end {
  background-color: #191919;
  padding: 1vh 1vw;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #ffe5b0;
  font-weight: bold;
  text-shadow: 0 0 5px #ffe5b0;
}

.info-end {
  animation: fadeUp 1s ease-in forwards;
}

/* ----------- ORGANIZERS -------------*/
.org-section {
  color: #eee;
}

.org-section .cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3vh 0;
}

.card {
  width: 80%;
  margin: 3vh 0;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20vh;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, var(--primary-color), transparent 75%);
}

.card:hover {
  transform: scale(1.05);
}

.card:nth-child(2n) {
  flex-direction: row-reverse;
}

.card:nth-child(2n)::before {
  background: linear-gradient(to left, var(--primary-color), transparent 75%);
}

.card img {
  height: 100%;
  width: 20vw;
  border-radius: 5px;
  object-position: top;
  object-fit: cover;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.card p {
  padding: 0 1vw;
  font-weight: bold;
  font-size: 1.3rem;
  flex: 1;
  justify-self: flex-end;
}

.card .t-small.t-italic {
  visibility: hidden;
  color: #ffe5b0;
  transition: all 0.2s ease-in-out;
}

.card:hover .t-small.t-italic {
  visibility: visible;
}

.org-section.fade-up,
.contact-section.fade-up {
  animation: fadeUp 3s ease-out forwards;
}

/* ----------- CONTACT --------------*/
.contact-section {
  background: white url("./assets/contact-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 1vh 1vw;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  margin: 5vh auto;
}

.contact-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
  border-radius: 10px;
}

.contact-section h1.heading {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 0 black;
  margin-top: 0;
  letter-spacing: 0.2rem;
}

.contact-section .row {
  display: flex;
}

.contact-section .left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-section .left-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 1vh 0;
}

.contact-section .left-section .container img {
  width: 5%;
  height: auto;
  margin-right: 10px;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}

.contact-section .left-section .container .flexbox h3,
.contact-section .left-section .container .flexbox p {
  margin: 0;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 3px 5px;
}

.contact-section .right-section {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-section .right-section img {
  width: 10%;
  height: auto;
  margin: 0 2vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact-section .right-section img:hover {
  transform: scale(1.1);
}

/* ---------- FOOTER ----------------*/
.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2vh 2vw;
}

.footer h2 {
  margin: 1vh 0;
}

.footer .footer-box {
  margin-left: 0;
}

.footer .footer-box img {
  width: 1vw;
  height: auto;
  margin-right: 1vw;
}

.footer .footer-link {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
}

.footer .footer-link.location {
  color: var(--primary-color);
  text-shadow: 1px 0 0 var(--primary-color);
}

.socials {
  margin: 1vh 2vw;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.social-icon {
  padding: 0;
  margin-top: 2vh;
  margin-right: 1vw;
  outline: none;
  max-width: 2vw;
  height: 2vw;
  border: none;
  background-color: transparent;
}

.social-icon img {
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.social-icon img:hover,
.footer a:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none !important;
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

/* ----------- BACK TO TOP BUTTON ------------ */
.back-to-top {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  z-index: 1000;
}

.back-to-top-button {
  background-color: var(--primary-color);
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7;
  font-weight: bold;
  margin: 0;
}

.back-to-top-button:hover {
  opacity: 1;
}

/* ========= LAPTOP-S ========== */
@media (max-width: 1200px) {
  .flex-container:not(.count-box .flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
  }

  .flex-container .left-section,
  .flex-container .right-section {
    width: 100% !important;
    margin-inline: auto;
  }

  .flex-container .right-section img {
    width: 100% !important;
    height: auto;
    margin: 20px auto;
  }

  .counts-subsection {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .count-box:nth-child(2n),
  .count-box:nth-child(2n) .flex-container {
    flex-direction: row !important;
  }

  .counts-subsection .count-box.last {
    grid-area: 3 / 1 / span 1 / span 2;
  }

  .counts-subsection .box-icon {
    width: 8%;
  }

  .counts-section .info-end {
    text-align: justify;
    padding: 2vh 3vw;
  }
}

/* ========= TABLET ========== */
@media (max-width: 768px) {
  .main > * {
    margin: 3vh auto !important;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-container {
    width: 80%;
    justify-content: space-between;
  }

  .navbar .navbar-logo {
    width: 12vw;
  }

  .navbar-toggle {
    display: block;
    margin: 0;
  }

  .navbar-menu.open {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(2, 6, 26, 0.7);
    backdrop-filter: blur(3px);
  }

  .navbar-link {
    padding: 1rem;
    color: white;
  }

  .hero-section h1,
  .hero-section .typing .typing-text,
  .typing-cursor {
    font-size: 3rem;
  }

  .hero-section h2 {
    font-size: 1.5rem;
  }

  .hero-section .hero-links > * {
    font-size: 1rem;
  }

  .about-section .right-section,
  .counts-section .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registration .steps {
    flex-direction: column;
  }

  .registration .steps .step {
    margin: 1vh 0;
    padding: 2vh 1vw;
    width: 80%;
  }

  .registration .steps .arrow {
    border-top: 2vw solid var(--primary-color);
    border-left: 1.5vh solid transparent;
    border-right: 1.5vh solid transparent;
    margin: 1vh 0;
  }

  .card,
  .card img {
    height: 25vh;
  }

  .card .flexbox {
    margin-left: 2vw;
  }

  .card:nth-child(2n) .flexbox {
    margin-left: 0;
  }

  .contact-section .row {
    flex-direction: column;
  }

  .contact-section .left-section,
  .contact-section .right-section {
    width: 100%;
  }
}

/* ========= MOBILE ========== */
@media (max-width: 425px) {
  .main > * {
    padding: 3vh 10vw;
  }

  .navbar {
    padding: 10px 0;
  }

  .navbar .navbar-logo {
    width: 18vw;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-link {
    padding: 0;
    color: white;
  }

  .navbar-icon {
    font-size: 0.5rem;
  }

  .hero-section {
    height: 100vh;
    background-size: cover;
  }

  .hero-section h1,
  .hero-section .typing .typing-text,
  .typing-cursor {
    font-size: 2rem;
  }

  .hero-section .hero-links {
    flex-direction: column;
  }

  .about-section .right-section img {
    width: 100%;
  }

  .counts-subsection {
    flex-direction: column-reverse;
  }

  .counts-subsection .flex-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

  .counts-section .counts-subsection > * {
    width: 100%;
  }

  .counts-subsection {
    display: flex !important;
    flex-direction: column;
    gap: 0;
  }

  .counts-subsection .flex-container {
    display: flex !important;
  }

  .counts-subsection .count-box:nth-child(2n) .flex-container {
    flex-direction: row-reverse !important;
  }

  .box-icon {
    width: 20%;
  }

  .counts-section .info-end {
    text-align: center;
  }

  .card,
  .card:nth-child(2n) {
    flex-direction: column;
    height: 100%;
  }

  .card img {
    width: 100%;
  }

  .org-section,
  .contact-section {
    margin-bottom: 0 !important;
  }

  .contact-section {
    margin-top: 0 !important;
    border-radius: 0;
  }

  .contact-section::before {
    border-radius: 0;
  }

  .contact-section h1.heading {
    font-size: 2rem !important;
    text-shadow: 2px 0 0 white;
  }

  .contact-section .left-section .container .flexbox h3,
  .contact-section .left-section .container .flexbox p {
    font-size: 1.2rem;
  }

  .contact-section .left-section {
    padding-left: 1vw;
  }

  .contact-section .left-section,
  .contact-section .right-section {
    width: 100%;
    justify-content: center;
    margin: 1vh auto;
  }

  .footer {
    padding: 1vh 0;
    text-align: center;
    align-items: center;
  }

  .footer .footer-box {
    margin-inline: auto;
  }

  .footer .footer-box img {
    width: 5vw;
    height: auto;
    margin-right: 1vw;
  }

  .footer .footer-link {
    font-size: 1.2rem;
  }

  .socials {
    margin-inline: auto;
  }

  .social-icon {
    max-width: 8vw;
    height: 5vw;
  }
}
